<!--//displays the data for each card-->


<!--//card id, pokemon name, etc/-->


<!--//card id, pokemon name, etc/-->


<!--//card id, pokemon name, etc/-->

<li>
    {{name}}

    <button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
        {{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
    </button>

    <button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li>

